/* Chat.css */
/*
darkGrey : #2E2A2A
mediumGrey : #383232 
lightGrey : #575151
highlight : #6F3030
message : #332C2C
*/ 


body{
  overflow-y: hidden !important;
}

.chat-app{
  background-color: #383232;
  width: 100vw;
  height: 100vh;
}

.row{
  margin: 0px !important;
  padding: 0px !important;
}

.tabList{
  display: flex;
  width: 100vw;

  margin: 0px;
  margin-bottom: 5px !important;
  padding: 0px;

  background-color: #383232 ;
}

.selectedRoomTab{
  background-color: #6F3030 !important;
}

.roomTab{
  width: 10% !important;
  height: 30px;
  background-color: #575151;

  margin: 0px;
  margin-right: 1px;
  margin-left: 1px;
  
  color: #aeb3b6;
  text-align: center;
  line-height: 30px;
  
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.roomTab:hover{
  background-color: #8A4949;
  cursor: pointer;
}

.otherTabs{
  float: right; 
  width: 30%;
}
.otherTab{
  background-color: #575151;
  width: 30% !important;
}

.messages {
  overflow-y: auto;

  margin: auto auto !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 10px !important;

  height: calc(100vh - 100px) !important;

  background-color: #2E2A2A;
}


.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  background-color: #575151;
  color: #b4b8a2;
  height: 7.5vh;
}

.date {
  color: #b4b8a2;
}

.message .user {
  font-weight: bold;
  margin-right: 8px;
}

.new-message-form {
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center; /* Center items vertically */

}

.new-message-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.color-picker {
  width: 40px; /* Adjust the width to your preference */
  height: 40px; /* Set it to the same value as width to make it a square */
  margin-right: 8px;
  padding: 0px;
  border: 1px solid #6F3030;
}


.new-message-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #b4b8a2;
  background-color: #575151;
  padding: 10px;
  border-radius: 5px 0 0 5px;
}

.send-button {
  border: none;
  outline: none;
  background: #2E2A2A;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
  padding: 10px;

}

.send-button:hover {
  cursor: pointer;
  background-color: #6F3030;
}

#userList{
  visibility: hidden;
}
